<%- include("partials/header.ejs") %>

<h1>Edit Post</h1>

<textarea name="new-title" form="edit-post-form"><%= editablePost["title"]%></textarea>
<textarea name="new-content" form="edit-post-form"><%= editablePost["content"]%></textarea>

<form action="/submit-edit" method="POST" id="edit-post-form">
    <input type="submit" value="Post" class="btn btn-primary btn-lg px-4 gap-3">
</form>


<%- include("partials/footer.ejs") %>