<%- include("partials/header.ejs") %>

<h1>Home Page</h1>

<form action="/new-post" method="GET">
    <input type="submit" value="Make a new post">
</form>

<% if (locals.allPosts) { %>
    <%allPosts.forEach(post => { %>
        <h2>
            <%= post.title %> 
        </h2>
        <p>
            <%= post.content %>
        </p>
        
    <% }); %>
<% } %>
<%- include("partials/footer.ejs") %>