<%- include("partials/header.ejs") %>

<h1>Make a new post</h1>

<textarea name="title" form="new-post-form" placeholder="Title"></textarea>
<textarea name="content" form="new-post-form" placeholder="Write your post..."></textarea>

<form action="/submit" method="POST" id="new-post-form">
    <input type="submit" value="Post" class="button">
</form>

<%- include("partials/footer.ejs") %>