<%- include("partials/header.ejs") %>



<form action="/submit" method="POST" id="new-post-form">
    <div class="mb-3">
        <h1>Make a new post</h1>
    </div>
    
    <div class="mb-3">
        <textarea class="form-control" name="title" form="new-post-form" placeholder="Title" id="floatingTitle"></textarea>
        <!-- <label for="floatingTitle">Title</label> -->
    </div>

    <div class="mb-3">
        <textarea class="form-control" name="content" form="new-post-form" placeholder="Write your post..." id="floatingContent"></textarea>
        <!-- <label for="floatingContent">Write your post...</label> -->
    </div>

    <input type="submit" value="Post" class="btn btn-primary btn-lg px-4 gap-3">
</form>

<%- include("partials/footer.ejs") %>